.hero-logo-white {
	font: 100 50px/1.5 'Pacifico', Helvetica, sans-serif;
 	color: #F9F9F9;
 	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.hero-logo-white-small {
	font: 300 25px/1.5 'Pacifico', Helvetica, sans-serif;
 	color: #F9F9F9;
 	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	margin: 0;
	padding: 0 20px;
}

.hero-logo-black {
	font: 100 50px/1.5 'Pacifico', Helvetica, sans-serif;
 	color: #191919;
 	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.layout-transparent {
  background: url('../assets/images/header.png') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.menu-button {
	padding: 10px;
}
