doctype html5
title pageTitle
extends layout

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		include minimal-header
		
		main.mdl-layout__content
			.mdl-grid
				.mdl-cell.mdl-cell--2-col
					include what-is-achievs
				.mdl-cell.mdl-cell--4-col
				.mdl-cell.mdl-cell--6-col
					include think-of-achievs

		include mini-footer
					
