header.mdl-layout__header
			.mdl-layout__header-row
				span.mdl-layout-title
					h1.hero-logo-white Achievs
				.mdl-layout-spacer
				nav.mdl-navigation
					.menu-button
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Register
					.menu-button
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored Log in