html
	body
		footer.mdl-mini-footer
			.mdl-mini-footer__right-section
				.mdl-logo 
					h1.hero-logo-white-small Achievs
				ul.mdl-mini-footer__link-list
					li
						a(href='#') Help
					li
						a(href='#') Privacy & Terms
			.mdl-mini-footer__right-section
				.spacer